# Ignore Database connection and Config files
includes/config.php
includes/db_connect.php

# Ignore API folders if they contain keys
api/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
.env

panel_adma9xKpL2_admin_login.php